{% extends "base_template.html" %}
{% load cache_bust %}
{% block content %}
    <main class="container-fluid">
        <section class="jc-sites-wrapper">
            <h2>Sites</h2>
            <section class="jc-sites-wrapper__site">
                {% for site in sites %}
                    <a href="{% url 'site' site.id %}">
                        <div class="jc-sites-wrapper__site__wrapper">
                            <img src="{{ site.logo.url }}" alt="">
                        </div>
                    </a>
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}