{% extends "base_template.html" %}

{% block content %}
    <main class="container-fluid">
        <section class="jc-sites-wrapper" style="position: relative;margin-top: 30px">
            <a href="{% url 'import' site.id %}" style="position: absolute;right: 10px" type="button" class="btn btn-warning">Import</a>
            <h2>Site: {{ site.name }}</h2>
            <section class="jc-sites-wrapper__site" style="margin-top: 40px">
                {% for article in articles %}
                    <a style="text-decoration: none" href="{% url 'article' article.id %}">
                        <div class="jc-sites-wrapper__site__wrapper">
                            <img src="{{ article.image }}" alt="">
                        </div>
                        <h4 style="font-size:1em;font-weight:600;text-decoration:none;color:black;margin: 3px 0px">{{ article.title }}</h4>
                        <div style="font-size: 0.9em;color:black;margin-top: 5px">
                            {% autoescape off %}
                                {{ article.content }}
                            {% endautoescape %}
                        </div>
                    </a>
                {% endfor %}
            </section>
        </section>

    </main>
{% endblock %}